body{
    background-color: #E4ECE1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo{
    margin: 0px;
    height: 80px;
}

#logo_link{
    color: #36454F;
    text-decoration:none;
}

.topBar{
    width: auto;
    height: 90px;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    border-bottom: solid 2px;
    border-color: #36454F;
    display:grid;
    grid-template-columns: 160px 1fr;
}

.topMenu{
    list-style-type:none;
    display:flex;
    font-size:24px;
    padding-top:10px;
}

.onlyMenu{
    display:flex;
    font-size:24px;
    padding-top:10px;
}

#menu_title1, #menu_title2, #menu_title3, #menu_title4{
    color:#36454F;
    text-decoration:none;
    margin: 25px;
}

#message_icon{
    margin-top:3px;
}

nav{
    margin:0px;
    height: 92px;
}

.main_content_food{
    grid-template-columns: 400px 1fr;
    display: grid;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px;
    border-color:#b4b6b8;
}
#main_content_foodTitle{
    font-weight:bold;
    font-size:20px;
    text-align: left;
}
#main_content_food{
    margin-left:10px;
    text-align: left;
}

.main_content_movie{
    grid-template-columns: 1fr 400px;
    display: grid;
    margin: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: solid 1px;
    border-color:#b4b6b8;
}
#main_content_movieTitle{
    font-weight:bold;
    font-size:20px;
    text-align: left;
}
#main_content_movie{
    margin-left:10px;
    text-align: left;
}

.main_content_book{
    grid-template-columns: 400px 1fr;
    display: grid;
    margin: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: solid 1px;
    border-color:#b4b6b8;
}
#main_content_bookTitle{
    font-weight:bold;
    font-size:20px;
    text-align: left;
}
#main_content_book{
    margin-left:10px;
    text-align: left;
}

.main_content_study{
    grid-template-columns: 1fr 400px;
    display: grid;
    margin: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: solid 1px;
    border-color:#b4b6b8;
}
#main_content_studyTitle{
    font-weight:bold;
    font-size:20px;
    text-align: left;
}
#main_content_study{
    margin-left:10px;
    text-align: left;
}

#date{
    vertical-align: middle;
    font-size:14px;
    display:flex;
}

#topRight{
    margin-left: auto;
    flex-direction: column;
}

#night_day{
    background-color: #3a2774;
    color:#d5a9cc;
    width:60px;
    height:33px;
    border:none;
    border-radius: 26px;
    font-weight: bold;
}

@media(max-width:800px){
    .onlyMenu{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .topMenu{
        margin-top: 0px;
        grid-template-columns: 1fr 1fr;
    }
    #date{
        font-size:12px;
    }
    #message_icon{
        display:none;
    }
    #topRight{
        padding-top:22px;
    }
    img{
        max-width: 400px;
    }
    }  